body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(127, 185, 185);
}

h2 {
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
}

ol, ul {
  padding-left: 30px;
}

.board{
  width: 90%;
  margin: 70px 5% 25px 5%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 70px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 33.3%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  display: flex;
  margin-left: 20px;
}

/* ---------------------------------------- */

@media screen and (max-width:650px) {
  
}